@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Fira Code", FontAwesome;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    background: @color9;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: rgba(8, 7, 10, 0.8);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces {
    background: transparent;
    margin: 5px 5px 5px 5px;
    padding: 6px 5px;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    /* margin-left: 5px;
    margin-right: 5px;
    border: 0.5px solid #032412;*/
}

#workspaces button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 8px;
    color: @foreground;
    background-color: @background;
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
    opacity: 0.1;
}

#workspaces button.active {
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
}

#workspaces button.urgent {
    background-color: #cdd6f4;
    color: #2f354a;
    padding: 0 0 0 5px;
    border-radius: 16px;
    min-width: 40px;
    background-size: 300% 300%;
}

#workspaces button:hover {
    background-color: #cdd6f4;
    color: #2f354a;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#clock,
#network,
#bluetooth,
#window,
#custom-rofi,
#custom-power_btn,
#custom-lock_screen,
#custom-wol,
#custom-tailscale,
#custom-updates,
#custom-github,
#custom-media,
#power-profiles-daemon,
#temperature,
#battery,
#backlight,
#custom-wl-gammarelay-temperature,
#pulseaudio,
#tray,
#custom-swaync {
    background-color: transparent;
    margin: 0 0 0 0;
    padding: 0px 7px 0px 7px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    opacity: 0.7;
}

/* LEFT MODULES */

#clock {
    border-radius: 5px 0px 0px 5px;
    color: @foreground;
    /*margin-left: 5px;*/
}

#network {
    border-radius: 0px 0 0 0px;
    color: @foreground;
}

#network.disabled {
    color: @foreground;
}

#bluetooth {
    border-radius: 0 0px 0px 0px;
    color: @foreground;
}

#window {
    background: transparent;
    color: @foreground;
    border-radius: 5px;
    margin-left: 10px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* CENTER MODULES */

#custom-rofi {
    color: @foreground;
    border-radius: 5px;
    opacity: 0.7;
    margin-left: 10px;
}

#custom-power_btn {
    color: @foreground;
    border-radius: 0px 0px 0px 0px;
}

#custom-lock_screen {
    color: @foreground;
    border-radius: 0px 0px 0px 0px;
    margin-right: 10px;
}

/* RIGHT MODULES */

#custom-media {
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#custom-media.custom-spotify {
    color: #1db954;
}

#temperature {
    color: @foreground;
    border-radius: 0px 0px 0px 0px;
}

#temperature.critical {
    color: #eba0ac;
}

#battery {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 7px;
    color: @foreground;
}

#battery.warning {
    color: #ffff00;
}

#battery.critical {
    color: #ff0000;
}

#power-profiles-daemon {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 7px;
}

#power-profiles-daemon.power-saver {
    color: @foreground;
}

#power-profiles-daemon.balanced {
    color: @foreground;
}

#power-profiles-daemon.performance {
    color: @foreground;
}

#backlight {
    border-radius: 0px 0px 0px 0px;
    color: @foreground;
    /*margin-right: 5px;*/
}

#pulseaudio {
    border-radius: 0px 0px 0px 0px;
    color: @foreground;
}

#pulseaudio.microphone {
    border-radius: 0px 0px 0px 0px;
    color: @foreground;
    /* margin-right: 5px;*/
}

#tray {
    border-radius: 0px 0px 0px 0px;
}

#custom-updates {
    border-radius: 0px 5px 5px 0px;
    padding: 0px 5px 0px 5px;
    margin-right: 10px;
}
